html {  
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to top right, #A18CD1, #FBC2eb);
}

.box {
    position: relative;
    top: 30%;
    left: 25%;
    width: 300px;
    height: 200px;
    padding: 40px;
    background: #fff;
    margin: 15%;
}

form { 
    margin: auto;
    text-align: center;
    position: absolute;
    top: 17%;
    left: 14%;
}

div{
    display: block;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif!important;
}

p {
    text-align: center;
    font-size:30px!important;

}

.emailInput, .phoneInput {
    text-align: center;
    margin: 10px;
    padding: 5px;
}

.date {
    vertical-align: baseline;
    margin: 10px;
    padding: 5px;
}

.button {
    text-align: center;
    padding: 15px;
}