html {  
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: linear-gradient(to top right, #A18CD1, #FBC2eb);
}

.box {
    position: relative;
    top: 30%;
    left: 25%;
    width: 300px;
    height: 200px;
    padding: 40px;
    background: #fff;
    margin: 15%;
}

form { 
    margin: auto;
    position: absolute;
    top: 25%;
    left: 25%;
}

h3 {
    text-align: center;
}

.emailInput, .phoneInput {
    text-align: center;
    margin: 10px;
    padding: 5px;
}

.date {
    vertical-align: baseline;
    margin: 10px;
    padding: 5px;
}